<!-- Navigation -->
<nav class="navbar navbar-fixed-top bg-secondary" role="navigation" style="margin-bottom: 0">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <div class="container">
         <a class="navbar-brand text-primary text-uppercase" (click)="backToHome()">
            <span>Multilinks</span>&nbsp;<span class="text-tertiary text-lowercase">pre-alpha 0.01.02</span>
         </a>
      </div>
   </div>

   <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
         <ul class="nav" id="side-menu">
            <li>
               <a href="index.html"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;What is Multilinks</a>
            </li>
            <li>
               <a href="#"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;Documentation<span class="fa arrow"></span></a>
               <ul class="nav nav-second-level">
                  <li>
                     <a href="#">Application Users <span class="fa arrow"></span></a>
                     <ul class="nav nav-third-level">
                        <li>
                           <a href="#">Introduction</a>
                        </li>
                     </ul>
                  </li>
               </ul>
               <ul class="nav nav-second-level">
                  <li>
                     <a href="#">Application Developers <span class="fa arrow"></span></a>
                     <ul class="nav nav-third-level">
                        <li>
                           <a href="#">Introduction</a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
</nav>